* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}


main input{
    width: 100%;
    font-size: 6rem;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
}

#keyBoard {
    display: grid;
    border: thin black solid;
    background-color: black;  
}

#keyBoard button{
    height: auto;
    font-size: 8rem;
    
}

@media (max-width: 810px) {

    main input{
        font-size: 3.5rem;

    }
}

@media (max-width: 500px) {

    main input{
        font-size: 2rem;

    }

    #keyBoard button{
        font-size: 10vw;

    }

}
